body{
    background-position: center;
    background-image: url('https://irandoostan.com/dostcont/uploads/2015/11/Camp-at-Night.jpg');
    background-size: cover;
    text-align: center;
    color:rgba(250, 248, 248, 0.795);
    line-height: 30px;
}




